			body
			{
				margin : 0px;
				
			}
			html
			{
				position: relative;
				top: 39px;
				background: url('images/header2.jpg') top left ,fixed;
				background-repeat: no-repeat;
				background-size: 100% 500px;
				filter: saturate(150%);
				-webkit-filter: saturate(150%);
				filter: brightness(110%);
				-webkit-filter: brightness(110%);
			}
			.container
			{
				width : 100%;
				height: 1500px;
				margin:0 auto 0;
			}
			.header
			{
				position: fixed;
				float: left;
				width : 100%;
				height : 100px;
				background-color: rgba(200,0, 0, 0 );
				Z-index: 20;
			}
			h1
			{
				display: none;
				color: black;
				font-size: 15pt;
			}
			.left
			{
				display: visible;
				float: left;
				width : 20%;
				height:90%;
			}
			.content{
				/*overflow: auto; */
				width : 60%;
				height:700px;
				float : left;
				margin-top: 350px;
			}
			.right{
				display: visible;
				float: left;
				width : 20%;
				height:90%;
				float : left;
				Z-index: 2;	
			}  
			.footer
			{
				position:relative;
				margin-bottom: 0;
				width : 100%;
				height : 10%;
			}
			.h1
			{
				
			}
			.logo
			{
				position: relative;
				top: 25;
				left: 50;
				box-shadow: 13px 13px 13px #b30047;
				height: 120;
				width: 85;
				border-radius: 27px;
				z-index: 7;
			}
			.logoText
			{
				z-index:16;
				position: relative;
				left:60;
				top:10;
				height:10px;
				font-weight:bold;
				font-style : oblique;
				font-family : tahoma,arial;
			}
			.menue
			{
				/*background-color: #ff1a75;*/
				background-color: #ff1a75;
				width: 102%;
				height: 50px;
			    position: relative;
				top: -201px;
				right: 20px;
				z-index: 21;
			}
			
			.ulmenue, .ulmenue ul
			{
				list-style-type : none;
				padding : 0px;
				margin : 0px;
				float: right;
				border-bottom: solid black 1px;
			}
			.ulmenue li
			{
				float : left;
				width : 150px;
				height: 50px;
				background-color : pink;
				cursor: pointer;
				text-align: right;
			}
			.ulmenue .subul li:last-child
			{
				border-bottom-right-radius: 20px;
				border-bottom-left-radius: 20px;
			}
			.ulmenue .subul li:first-child
			{
				border-top-right-radius: 20px;
				border-top-left-radius: 20px;
			}
			.ulmenue .subul li a:first-child
			{
				border-top-right-radius: 20px;
				border-top-left-radius: 20px;
			}
			.ulmenue li a
			{
				text-decoration: none;
				color: red;
				font-size: 15pt;
				display : block;
				-webkit-transition: background-color 1s;
			}
			
			.ulmenue li ul
			{
				display : none;
				border: solid black 3px;
				border-radius: 20px;
			}
			.ulmenue li:hover
			{
				color: #ff1a75;
				font-size: 15pt;
				background-color: pink;
			}
			.ulmenue li a:hover
			{
				color: #ff1a75;
				background-color: white;
			}
			.subul li a:hover
			{
				display : block;
				background-color: white;
				color: ff1a75;
				font-size: 18pt;
				font-weight: bold;
			}
			.clearfix
			{
				overflow: auto;
			}
			
			
			
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 850px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

			
			@media only screen and (min-width: 100px)
			{
				.h1
				{
					display: visible;
					float:right;
					font-size:40pt;
					position:absolute;
					right:85px;
					letter-spacing :3px;
					color: red;
				}
			}
			@media only screen and (min-width: 500px)
			{
				.h1
				{
					display: visible;
					float:right;
					font-size:40pt;
					position:absolute;
					right:85px;
					letter-spacing :3px;
					color: yellow;
				}
			}
			/* for smart phones */
			@media only screen and (min-width: 900px) {
				.ph
				{
					display: visible;
					float:left;
					font-size:40pt;
					position:absolute;
					letter-spacing :3px;
					top: -30px;
					left: 25px;
					font-size: 30pt;
					color: white;
				}
			}@media only screen and (min-width: 900px) and (orientation: landscape) {
				.phland
				{
					display: visible;
					float:left;
					font-size:40pt;
					position:absolute;
					letter-spacing :0px;
					top: -30px;
					left: 25px;
					font-size: 30pt;
					color: white;
				}
			}
			/* for laptops */
			@media only screen and (min-width: 1300px) {
				.lap
				{
					display: visible;
					float:right;
					font-size:40pt;
					position:absolute;
					right:85px;
					letter-spacing :3px;
					color: pink;
				}
			}
			/* for portrait screens like phones */
			@media only screen and (orientation: portrait) {
				.prevli
				{
					display: none;
				}
			}
			/* for landscape screens like laptops */
			@media only screen and (orientation: landscape) {
				.prevli
				{
					display: visible;
				}
			}
			
			.prevli
			{
				background-image: url('images/arrow2.jpg');
				background-repeat: no-repeat;
				background-position: 130px 5px;
				padding-right: 23px;
				transition: background-image 0.3s;
			}
			.ulmenue > li:nth-child(6)
			{
				background-image: url('images/threeline6.jpg');
				background-size: 45px 41px;
				background-repeat: no-repeat;
				background-position: 85px 4px;
				text-align: left;
			}
			.ulmenue > li:nth-child(6) span
			{
				line-height: 2.5;
				position: relative;
				left: 22px;
				top: 3px;
			}
			
			
			